.overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  transition: opacity 0.5s ease-out;

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  .progressBarContainer {
    width: 200px;
    background-color: #1e1d1d;
    height: 4px;
    border-radius: 2px;
    overflow: hidden;
  }

  .progressBarFill {
    height: 100%;
    width: 100%;
    transform-origin: left;
    background-color: #1e1d1d;
  }
}